<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diseña tu auto</title>
    <link rel="stylesheet" href='../static/css/disena-auto.css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/controls/OrbitControls.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/loaders/GLTFLoader.js"></script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="../../pagina1.html">Volver a la página principal</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Diseña tu auto</h1>
        <p>Aquí podrás personalizar tu auto soñado.</p>

        <section id="car-display">
            <div id="car-container">
                <canvas id="car-canvas" width="692" height="400"></canvas>
                <div class="arrow-container">
                    <button class="arrow-btn left-arrow">&#8592;</button>
                    <button class="arrow-btn right-arrow">&#8594;</button>
                </div>
            </div>
        </section>              

        <section>
            <h2>Selecciona el color de tu auto</h2>
            <div id="color-options">
                <button id="color-red" class="color-option" style="background-color: red;"></button>
                <button id="color-blue" class="color-option" style="background-color: blue;"></button>
                <button id="color-green" class="color-option" style="background-color: green;"></button>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 - Página de Diseño de Auto</p>
    </footer>

    <script src="../static/js/diseno.js"></script>
    
</body>
</html>